html, body {
    margin: 0;
    padding: 0;
    background-color: #dedede;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 0 auto;
    width: 950px;
    background-color: white;
    padding: 10px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

.main p {
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
}

.ingredienten, .bereidingswijze {
    margin: 20px 0;
}

.ingredienten li {
    margin: 10px 0;
    font-size: 20px;
    line-height: 26px;
}

.bereidingswijze li {
    margin: 20px 0;
    font-size: 20px;
    line-height: 26px;
}

.tip {
    font-size: 24px;
    background-color: #DEF6ED;
    border-radius: 4px;
}

.tip p {
    padding: 25px;
    font-size: 20px;
    line-height: 26px;
}

img {
    width: 75%;
}